<%= render :partial => 'spree/admin/shared/product_tabs', :locals => {:current => "ProductRecommendations"} %>


<h1><%= Spree.t('edit_product_recommendation') %></h1>
<%= render 'form', product: @product, product_recommendation: @product_recommendation %>

<% content_for :page_actions do %>
  <% #if can?(:create, Spree::ProductRecommendation) %>
  <li id="new_product_recommendation_link">
    <%= button_link_to Spree.t(:new_product_recommendation), new_admin_product_product_recommendation_url(@product), { :icon => 'plus', :id => 'new_product_recommendation_link' } %>
  </li>
  <% #end %>
<% end %>
